@charset "utf-8";

#LatestBuildsContainer{
    margin-left: 5px;
}

#LatestBuilds{
    margin-left: 5px;
}

.buildFailed{
    color:#f31010;
}

.shellContent{
    width: 150px;
    word-wrap: break-word;
}

#toggleBuild{
	margin-left: 5px;
	margin-bottom: 5px;
}

#sidebar{
	margin-left: 10px;
}

#heading{
	margin-left: 10px;
}